<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" th:href="@{/css/materialize.min.css}" media="screen,projection"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/index.css}" media="screen,projection"/>
</head>

<body>
<div th:replace="common/head :: head"></div>

<div class="container center-align">
    <div class="row" style="margin-top: 20px;width: 70%;margin-left: 15%">
        <div class="col s4">
            <img style="width: 200px" th:src="${question.image}"/>
        </div>
        <div class="col s8" style="margin-top: 10%">
            <h5>[[${question.question}]]</h5>
            <form th:action="@{/answerComment}" method="post" onsubmit="return check()">
                <div class="valign-wrapper" style="margin-top:60px;width:100%;height: 46px;float: left">
                    <input type="hidden" name="aid" th:if="${session.user} != null" th:value="${session.user.aid}"/>
                    <input type="hidden" name="qid" th:value="${question.qid}"/>
                    <input type="text" name="comment" placeholder="Add a comment..."/>
                    <button class="btn" type="submit"
                            style="width: 140px;height: 32px;font-size: 11px;margin-bottom: 5px;margin-left: 10px">Add</button>
                </div>
            </form>
        </div>
    </div>
    <div style="height: 2px;width: 70%;margin-left: 15%;background: #e0e0e0"></div>

    <div style="width: 70%;margin-left: 15%">
        <ul class="collection left-align" style="border: none">
            <li class="collection-item avatar" style="border-bottom: none" th:each="list : ${lists}">
                <img src="images/head.jpg" alt="" class="circle">
                <span class="title">[[${list.lastname}]][[${list.firstname}]]</span>
                <p th:each="item : ${list.answers}">[[${item.comment}]]</p>
            </li>

        </ul>
    </div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" th:src="@{/js/materialize.min.js}"></script>
<script language='javascript' th:inline="javascript">
    function check() {
        var user = [[${session.user}]];
        if (user == null){
            alert("please sign in！");
            return false;
        } else {
            return true;
        }
    }
</script>
</body>
</html>